<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="imagens.css">
    <title>Banner</title>
</head>
<body>
    <main>
        <div class="main-banner">
            <div class="main-1-1">
                <img src="/imagens/imagem1.jpg" alt="Imagem 1" class="banner-image">
                <img src="/imagens/imagem2.jpg" alt="Imagem 2" class="banner-image">
                <img src="/imagens/imagem3.jpg" alt="Imagem 3" class="banner-image">
                <img src="/imagens/imagem4.jpg" alt="Imagem 4" class="banner-image">
                <img src="/imagens/imagem5.jpg" alt="Imagem 5" class="banner-image">
            </div>
        </div>
    </main>      
</body>
</html>